<div class="container">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <form action="/update-dieta/{{_id}}" validate method="POST" style="display:none;" id="formDiet">
          <input type="text" name="dietChange" id="dietChange" onchange="submitForm('formDiet', 'dietChange')" value="{{name}}" required>
        </form>
        <h2 id="changeName" class="editable">Dieta {{name}} de {{usuario.username}} <i class="material-icons">create</i></h2>
        <ul class="collection with-header">
          <li class="collection-header">
            <h4 class="row">
              <span class="col s12 m6">Tu meta calorica:</span>
              <span class="col s12 m6 right-align">{{dietInfo.bmr}} kCal</span>
            </h4>
          </li>
          <li class="collection-header">
            <h4>Distribución de tus macros:</h4>
          </li>
          <li class="collection-item">
            <p class="row">
              <span class="col s12 m6">Proteína:</span> 
              <span class="col s12 m6 right-align">{{dietInfo.gP}} g(s)</span>
            </p>
            <p class="row">
              <span class="col s12 m6">Carbohidratos:</span> 
              <span class="col s12 m6 right-align">{{dietInfo.gC}} g(s)</span>
            </p>
            <p class="row">
              <span class="col s12 m6">Grasa:</span> 
              <span class="col s12 m6 right-align">{{dietInfo.gG}} g(s)</span>
            </p>
          </li>
          <li class="collection-header">
            <h4>Alimentos diarios:</h4>
          </li>
          <li class="collection-item">
          {{#each comidas}}
            <p class="row">
              <span class="col s12 m6">{{this.food.name}}:</span>
              <span class="col s12 m6 right-align">{{this.quantity}} {{this.food.serving.unit}}(s)</span>
            </p>
          {{/each}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
   document.getElementById('changeName').addEventListener('click', function(){
    let dietIn = document.getElementById('formDiet')
    dietIn.style.display='inherit';
    document.getElementById('changeName').style.display='none'
  });
  

  function submitForm(id, idInput){
    if(document.getElementById(idInput).value === "")return;
    document.getElementById(id).submit();
  }
</script>