<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="principal">
    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Diet Calc</a>
        <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {{#if user}}
          <li><a href="/profile/{{user._id}}">Profile</a></li>
          <li><a href="/">Nueva Dieta</a></li>
          <li><a href="/logout">LogOut</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">SignUp</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      {{#if user}}
      <li><div class="user-view">
        <div class="background">
          <img src="https://res.cloudinary.com/rafaremo/image/upload/v1531952903/fruit.jpg" alt="fruta">
        </div>
        <a href="/profile/{{user._id}}"><img class="circle" src="{{user.photoURL}}"></a>
        <a href="/profile/{{user._id}}"><span class="white-text name">{{user.username}}</span></a>
        <a href="/profile/{{user._id}}"><span class="white-text email">{{user.email}}</span></a>
      </div></li>
      <li><a href="/profile/{{user._id}}">Profile</a></li>
      <li><a href="/">Nueva Dieta</a></li>
      <li><a href="/logout">LogOut</a></li>
      {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">SignUp</a></li>
      {{/if}}
    </ul>

    {{{body}}}

    <footer class="page-footer green darken-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Diet Calc</h5>
            <p class="grey-text text-lighten-4">Una prueba de lo que se puede hacer con node js y express</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Más de Nosotros</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/politicas">Politicas de Privacidad</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2018 Diet Calc
        </div>
      </div>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
