<div class="container">
  <form action="/save-result" method="POST">
    <h2>Resultados de tu Dieta</h2>
    {{#each solution}}
      {{#resultForm @key}}
        <input type="hidden" value="{{this}}" name="food[{{@key}}]">
      {{/resultForm}}
    {{/each}}
    <input type="hidden" name="bmr" value="{{datosInit.BMR}}">
    <input type="hidden" name="gP" value="{{datosInit.gP}}">
    <input type="hidden" name="gC" value="{{datosInit.gC}}">
    <input type="hidden" name="gG" value="{{datosInit.gG}}">
    <input type="hidden" name="edad" value="{{datosInit.age}}">
    <input type="hidden" name="peso" value="{{datosInit.weight}}">
    <input type="hidden" name="altura" value="{{datosInit.height}}">
    <input type="hidden" name="actividad" value="{{datosInit.activity}}">
    <input type="hidden" name="sexo" value="{{datosInit.sex}}">
    {{#if user}}
      <button type="submit" class="btn">Guardar Dieta</button>
    {{/if}}
  </form>
</div>
